/* Configuración global de colores corporativos */

:root {
  --primario-monte: #0D2319; /* Base oscura */
  --primario-ict1: #E67E22; /* Amarillo brillante */
  --primario-ict2: #C8102E; /* Rojo vivo (Paraguay) */
  --primario-ict3: #FFFFFF; /* Blanco (Paraguay) */
  --primario-ict4: #0047AB; /* Azul vivo (Paraguay) */

  /* Color para MONTEASTUR */
  --monte-amarillo: #FFD700;

  /* Tipografía global */
  --fuente-sistema: 'Roboto', sans-serif;
}